<h3 data-cy="userListPage">Users List</h3>
<button nz-button nzType="primary" routerLink="/users/add" data-cy="addNew">Add New</button>
<table>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let user of userList">
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>
      <button data-cy="deltailPage" routerLink="/users/details/{{user.id}}">Details</button>
      <button data-cy="editPage" routerLink="/users/edit/{{user.id}}">Edit</button>
      <button (click)="deleteUser(user.id)">Delete</button>
    </td>
  </tr>
</table>
