<h2>Users Details</h2>
<table>
  <tr>
    <td>Id:</td>
    <td>{{userDetails?.id}}</td>
  </tr>
  <tr>
    <td>Name:</td>
    <td>{{userDetails?.name}}</td>
  </tr>
  <tr>
    <td>User Name:</td>
    <td>{{userDetails?.username}}</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>{{userDetails?.email}}</td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>{{userDetails?.phone}}</td>
  </tr>
  <tr>
    <td>Website:</td>
    <td>{{userDetails?.website}}</td>
  </tr>
  <tr>
    <td>Company Name:</td>
    <td>{{userDetails?.company?.name}}</td>
  </tr>
</table>
